@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf');
    
}
* {
margin: 0;
padding: 0;
}

body {
background-color: rgba(13, 122, 22, 0.681);

}


header {
background-image: linear-gradient(to right, green, rgb(61, 135, 61));

/*Somente para trabalhar com o fundo*/

} 
nav {
padding: 10px 30px 20px 30px;

}

a:hover {
background-color: rgb(54, 2, 89);
border-style: groove;
border-radius: 3px;
padding: 2px 6px;

}

h1 {
color: white;
text-align: center;
padding-top: 17px;
padding-bottom: 10px;
font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;


}


header p {
color: white;
text-align: center;
padding-top: 30px;
padding-bottom: 10px;   
}

main {

background-color: aliceblue;
display: block;
padding: 20px;
min-width: 320px;
max-width: 800px;
margin: auto;
margin-bottom: 30px; /*espaço la embaixo*/
box-shadow: 0px 0px 10px rgb(51, 48, 48);
border-bottom-left-radius: 10px; 
border-bottom-right-radius: 10px;

}
main img.pequena {
max-width: 350px;
display: block;
margin: auto;

} 
div.video {
    background-color: rgba(13, 122, 22, 0.681);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

article > h2 {
font-family: 'idroid';
background-image: linear-gradient(to right, rgba(2, 117, 2, 0.626), white)
}
img {
width: 100%;
}


p {
margin: 15px 0px;
text-align: justify;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: medium;
}

a {
color: white;
text-decoration: none;
padding-right: 10px;
}


aside {

background-color: aquamarine;
padding-left: 10px;
border-radius: 10px;

}

aside > h3 {
color: white;
background-color: rgb(2, 63, 43);
padding: 10px;
margin-left: -10px;
border-radius: 10px 10px 0 0;

}
aside > p {
    margin-right: 15px;
    padding-bottom: 15px;
}


footer > p {
color: white;
background-color: rgb(2, 63, 43);
}

ul {
list-style: none; }/*remove os pontinhos antes*/


aside > ul {
    list-style-type: "⇨ ";
    list-style-position: inside; /*coloca a flexinha dentro */
    columns: 2;
    
}
